@model WebApplication11.Models.CHUDE

@{
    ViewBag.Title = "Xoachude";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-10 panel-info">
    <div class="content-box-header panel-heading">
        <div class="panel-title ">Xác nhận thông tin chủ đề cần xóa</div>

    </div>
    <div class="content-box-large box-with-header">
        <dl class="dl-horizontal">
            <dt>
                Tên chủ đề:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tenchude)
            </dd>

        </dl>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-primary" /> |
                    @Html.ActionLink("Quay lại", "QLChude")
                </div>
            }
        </div>
    </div>

</div>
