@model IEnumerable<WebApplication11.Models.CHUDE>
@foreach (var item in Model)
{
    <a href="@Url.Action("SPTheochude", "TrangChu", new { id =item.MaCD})" class="list-group-item">
        @item.Tenchude
    </a>
}
